#Some file types to ignore to save space
*__pycache__
.DS_Store
**.ipynb_checkpoints/
*.tar.gz
*.pdf
*.png
*.jpg
*.jpeg
*.swp

#txt files from SS10. They can be re-created by running the table.py script.
ScienceSaturday10/*txt
